@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Numans&display=swap');


body{
    min-width:1000px;  
}

h1{
font-size: 60px;
font-family: Bitter;
font-size: 61px;
font-weight: 400;
line-height: 73px;
letter-spacing: 0em;
text-align: left;

}

/*** Estilos Navbar ****/

#contendor{
	display:flex;
	box-shadow: 20px 10px 20px  #4a9994;
	font-family: 'Numans', sans-serif;
    background-color: #0A2826;
}

#logo{
	width: 100px;
	height: 100px;
    margin: 10px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 160px;
	background: #1E7A72;
	padding-left: 0px;
	position: absolute;
	display: none;
	margin-top: 10px;
	animation: barrido 0.5s ease-in-out;
}

#menu {
	background: #0A2826;
	color: #FFF;
	height: 80px;
	padding:10px 16px 10px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	font-family: 'Numans';
    margin: 10px;
}

#menu #busca{
	margin-right: 20px;
	height: fit-content;
	margin-top: auto;
	margin-bottom: 12px;
	border-radius: 10px;
}

#menu ul, #menu li {
	list-style: none;
	display:flex;
	margin-right: 16px;
	margin-top: 30px;
}

#menu ul {
	width: 100%;
}

#menu li {
	display: inline;
	position: relative;
}

#menu a {
	background: #1E7A72;
	display: block;
	line-height:24px;
	padding: 0 14px;
	margin-top: 16px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 15px;
}

#menu li a:hover {
	color: #b8811b;
	background: #F2F2F2;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 160px;
	background: #1E7A72;
	padding-left: 0px;
	position: absolute;
	display: none;
	margin-top: 10px;
	animation: barrido 0.5s ease-in-out;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	background: #1E7A72;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block;
	border-radius: 15px;
}

#menu ul.sub-menus a:hover{
	background: #1E7A72;
	color: #b8811b;
}

/*** Fin Navbar ****/



/** Section **/

.text{
    
    font-family: Numans;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 4%;
    }

.container{
    display:flex;
    flex-direction: column;
    height: 2500px;
}

.textImageContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: 380px;
    margin-bottom:5%;
    margin-top:2%;
    /* border: 5px solid lightsalmon; */
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    
}

.textContainer h1{
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 60.71px;
    line-height: 73px;
    color: #0A2826;
}

.textContainer p{
    font-size: 27.8731px;
    color: #14514C;
}

.div-ilu{
    display:flex;
}

#ilu-1{
    height: 80%;
    width: auto;
    padding: 10%;
    
}



/** Estilo cards***/

.courses{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, fr);
    justify-content: space-evenly;
    justify-items: center;
    width: auto;
    height: 1000px;
    /* border: 5px solid blue; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 325px;
    height: 380px;
    border-radius : 13px;
    margin:6%;
  }
  
  .card:hover {
    box-shadow: 0 8px 100px 0 rgba(0,0,0,0.2);
  }
  
  .cardContainer {
    padding: 2px 16px;
    height: 30%;
    width: auto;
    
  }

  .cardContainer h4{
    color: #662700;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }

  .cardContainer p{
    color: #1E7A72;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

  }

    .courseImage{
        object-fit: fill;
    }

/** Diseño del pie de página **/
#footer{
	position:fixed;
	left:0px;
	bottom:0px;
	height: 100px;
	width: 100%;
	background-color: #0A2826;
	color:#FFFFFF;
	display:flex
}

#footer #logo-footer{
	margin:auto;
}
#footer a {
	text-decoration: none;
	color:#FFFFFF;
	font-family: 'Numans';
	margin:auto
}

